{% extends "base.html" %}


{% block title %}
Mis Materias - SmartSISS
{% endblock %}



{% block content %}


<h1>Mis Materias Inscritas</h1>



<table border="1" width="100%">


<tr>

<th>
Grupo
</th>

<th>
Materia
</th>

<th>
Docente
</th>

<th>
Créditos
</th>

<th>
Estado
</th>

</tr>



{% for registro in inscripciones %}


<tr>

<td>
{{ registro.grupo.nombre_grupo }}
</td>


<td>
{{ registro.grupo.materia.nombre }}
</td>


<td>
{{ registro.grupo.docente }}
</td>


<td>
{{ registro.grupo.materia.creditos }}
</td>


<td>
{{ registro.estado }}
</td>


</tr>


{% empty %}


<tr>

<td colspan="5">
No tiene materias inscritas
</td>

</tr>


{% endfor %}



</table>


{% endblock %}