{% extends "base.html" %}


{% block title %}
Plan Académico
{% endblock %}



{% block content %}


<h1>
Consulta del Plan Académico
</h1>


<table border="1" width="80%">


<tr>
    <th colspan="4">
        Ingeniería de Sistemas
    </th>
</tr>


<tr>
    <th>
        Código
    </th>

    <th>
        Materia
    </th>

    <th>
        Créditos
    </th>

    <th>
        Estado
    </th>

</tr>



<tr>

<td>
SIS301
</td>

<td>
Base de Datos
</td>

<td>
4
</td>

<td>
Disponible
</td>

</tr>



<tr>

<td>
SIS302
</td>

<td>
Programación II
</td>

<td>
4
</td>

<td>
Disponible
</td>

</tr>



<tr>

<td>
SIS303
</td>

<td>
Estructura de Datos
</td>

<td>
4
</td>

<td>
Disponible
</td>

</tr>


</table>


<br>


<a href="/validacion-requisitos/">

<button>
Continuar
</button>

</a


{% endblock %}