{% extends "base.html" %}


{% block title %}
Resumen de Inscripción
{% endblock %}



{% block content %}


<h1>
Resumen Final de Inscripción
</h1>



<table border="1" width="70%">


<tr>
    <th>
        Código SIS
    </th>

    <td>
        20260001
    </td>
</tr>


<tr>
    <th>
        Estudiante
    </th>

    <td>
        Carlos Mamani
    </td>
</tr>


<tr>
    <th>
        Carrera
    </th>

    <td>
        Ingeniería de Sistemas
    </td>
</tr>


<tr>
    <th>
        Gestión
    </th>

    <td>
        2026 - 1
    </td>
</tr>


</table>


<br>


<h2>
Materias inscritas
</h2>



<table border="1" width="70%">


<tr>

<th>
Materia
</th>

<th>
Grupo
</th>

<th>
Créditos
</th>

</tr>



<tr>

<td>
Base de Datos
</td>

<td>
A
</td>

<td>
4
</td>

</tr>


</table>



<br>



<h2 style="color:green;">
✓ INSCRIPCIÓN COMPLETADA
</h2>



<button>
Generar comprobante
</button>



{% endblock %}